<form [formGroup]="form">
  <h1>Dynamic User Form</h1>
  <div class="form-group" formArrayName="users">
    <div *ngFor="let user of form.get('users').controls; let i = index">
      <div class="panel panel-primary">
        <div class="panel-heading">User # {{ i + 1 }}</div>

        <!-- 
          Using non-reusable components

          Use the structure below when you have the following structure:
          class:
          form: FormGroup
            users: FormArray
              FormGroup
                name: formControl
                address: FormGroup
                  county: formControl
                  state: formControl
         -->
        <!-- <div class="panel-body" [formGroupName]="i">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name">

          <div class="form-group" formGroupName="address">
            <label for="county">County</label>
            <input type="text" class="form-control" formControlName="county">
  
            <label for="state">State</label>
            <input type="text" class="form-control" formControlName="state">
          </div>
        </div> -->
            
        <!-- 
          Using re-usable individual components
            (not wrapped in a parent component)

          Use this structure for the same scaffold as above.
         -->
        <!-- <div class="panel-body" [formGroupName]="i">
          <app-name [parent]="user"></app-name>
          <div class="form-group" formGroupName="address">
            <app-address [parent]="user.get('address')"></app-address>
          </div>
        </div> -->

        <!-- FIXME: build one that is wrapped in a parent container -->


      </div>
    </div>
  </div>

  <div class="container">
    <span><h1>Dynamic User Form</h1></span>
    Form is valid: {{ form.valid }}
  </div>
  <div class="container">
    Form contents: {{ form.value | json }}
  </div>
</form>